<div class="card border-0">
  <div class="card-header border-0 d-flex justify-content-between">
    <% if comment.user.present? %>
      <strong><%= link_to comment.user.name, user_path(comment.user) %></strong>
    <% else %>
      <strong class="text-secondary"><%= comment.user_name %></strong>
    <% end %>    
    <div class="d-inline-flex">
      <small class="text-secondary"><%= l comment.created_at, format: :short %></small>
      <% if current_user_can_edit?(comment) %>
        <div class="text-muted ml-3">
          <%= link_to(fa_icon('edit'), edit_event_comment_path(comment.event, comment)) %>
          <%= link_to(
                fa_icon('trash'), event_comment_path(comment.event, comment),
                method: :delete, data: {confirm: t('.destroy_confirm')}
            ) %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="card-body">
    <p><%= comment.body %></p>
  </div>
</div>
