<%= form_for @user, html: {multipart: true} do |f| %>
  <%= render partial: 'partials/form_errors', locals: {model: @user} %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :email %>
    <%= f.text_field :email, class: 'form-control' %>
  </div>

  <div class="form-group">
    <p><%= image_tag(@user.avatar.thumb.url) if @user.avatar? %></p>
    <label class="btn btn-outline-primary">
      <%= f.file_field :avatar, class: 'd-none' %> <%= t('avatars.set_avatar') %>
    </label>
  </div>

  <div class="form-group">
    <%= f.submit t('devise.links.save'), class: 'btn btn-primary' %>
    <%= link_to t('devise.passwords.edit.change_your_password'), edit_user_registration_path, class: 'btn btn-secondary' %>
    <p class="mt-2"><%= link_to t('devise.links.back'), :back %></p>
  </div>
<% end %>
