<div class="row mt-4">
  <div class="col-md-8 mb-4">
    <div class="card mb-3" style="max-width: 800px;">
      <div class="row no-gutters border-bottom">
        <div class="col-md-7">
          <%= image_tag asset_path('event.jpg'), class: "img-fluid", alt: "[event]" %>
        </div>
        <div class="col-md-5">
          <div class="card-body">
            <h5 class="card-title"><%= @event.title %></h5>
            <p class="card-text"><small><%= l @event.datetime, format: :short %></small></p>
            <p class="card-text"><%= link_to @event.address,
                  "https://yandex.ru/maps/?text=#{@event.address}" %></p>
            <p><%= @event.description %></p>
            <% if current_user_can_edit?(@event) %>
              <%= link_to t('event.change'), edit_event_path(@event),
                  class: 'btn btn-primary' %>
              <%= link_to t('devise.links.delete'), event_path(@event), method: :delete,
                              data:{confirm: t('devise.registrations.edit.are_you_sure')}, class: 'btn btn-danger' %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="container mt-3">
        <% if @event.comments.exists? %>
          <%= render partial: 'comments/comment',
            collection: @event.comments.except(@new_comment) %>
        <% else %>
          <div class="container text-muted text-center">
            <%= t('comments.comment.no_comments') %>
          </div>
        <% end %>
      </div>

      <div class="container mb-3 mt-3 border-top">
        <div class="pt-3">
        <%= render partial: 'comments/form',
        locals: {comment: @new_comment || @event.comments.build} %>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4 mb-4">
    <div class='card'>
      <div class="card-body">
        <div class="border-bottom">
            <h5><%= t('subscriptions.subscription.show_organizer') %></h5>
          <div class="container mb-3">
          <p><%= render partial: 'users/user', object: @event.user %></p>
          </div>
        </div>
        <% if @event.subscribers.any? %>
          <div class="mt-3 border-bottom">
            <h5><%= t('subscriptions.subscription.show_subscribed') %></h5>
            <div class="container mb-3">
              <%= render partial: 'subscriptions/subscription',
                collection: @event.subscriptions.except(@new_subscription) %>
            </div>        
          </div>
        <% end %>
        <div class="mt-3 text-center">
          <%= render partial: 'subscriptions/form', locals: {
            subscription: @new_subscription || @event.subscriptions.build
          } %>
        </div>
      </div>
    </div>
  </div>
</div>
