<div class="row mt-4">
  <div class="col-md-8 mb-4">
    <div class="card mb-3">

      <div class="row no-gutters bg-dark text-white"> 
        <div class="col-md-7" style="height: 350px;">
          <%= content_tag 'div', '', class: 'card-img-top event-photo', alt: "[event]",
              style: "background-image: url(#{event_photo(@event)}); width: inherit; height: inherit;" %>
        </div>
        <div class="event-card col-md-5 overflow-auto" style="height: 350px">
          <div class="card-body">
            <h5 class="card-title"><%= @event.title %></h5>
            <% if current_user_can_edit?(@event) %>
              <div class="d-flex flex-wrap flex-column">
                <%= link_to t('event.change'), edit_event_path(@event),
                    class: 'btn btn-sm btn-primary mb-2 mr-1' %>
                <%= link_to t('devise.links.delete'), event_path(@event), method: :delete,
                                data:{confirm: t('devise.registrations.edit.are_you_sure')}, class: 'btn btn-sm btn-danger mb-2 mr-1' %>             
              </div>
            <% end %>
            <p class="card-text"><small><%= l @event.datetime, format: :short %></small></p>
            <p class="card-text"><%= link_to @event.address,
                  "https://yandex.ru/maps/?text=#{@event.address}" %></p>
            <p><%= @event.description %></p>
          </div>
        </div>
      </div>
 
      <% if user_signed_in? %>
        <div class="pt-3 pl-3 border-bottom bg-light">
          <%= render partial: 'photos/form', locals: {photo: @new_photo || @event.photos.build} %>
        </div>
      <% end %>
      <% if @event.photos.exists? %>
        <div class="pt-2 pl-4 border-bottom bg-light event-photos"">
          <%= render partial: 'photos/photo', collection: @event.photos.except(@new_photo) %>
        </div>
      <% end %>

      <div class="container mt-3">
        <% if @event.comments.exists? %>
          <%= render partial: 'comments/comment',
            collection: @event.comments.except(@new_comment) %>
        <% else %>
          <div class="container text-muted text-center">
            <%= t('comments.comment.no_comments') %>
          </div>
        <% end %>
      </div>

      <div class="container pb-3 mt-3 border-top bg-light">
        <div class="pt-3">
        <%= render partial: 'comments/form',
        locals: {comment: @new_comment || @event.comments.build} %>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4 mb-4">
    <div class="card bg-light">
      <div class="card-body">
        <h5><%= t('subscriptions.subscription.show_organizer') %></h5>
        <div class="container mb-3">
          <p><%= render partial: 'users/user', object: @event.user %></p>
        </div>
        <% if @event.subscriptions.exists? %>
          <div class="mt-3 pt-3 border-top">
            <h5><%= t('subscriptions.subscription.show_subscribed') %></h5>
            <div class="container mb-3">
              <%= render partial: 'subscriptions/subscription',
                collection: @event.subscriptions.except(@new_subscription) %>
            </div>
          </div>
        <% end %>
        <% if current_user_can_subscribe?(@event) %>
          <div class="mt-3 border-top text-center">
            <%= render partial: 'subscriptions/form', locals: {
                  subscription: @new_subscription || @event.subscriptions.build
            } %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="card bg-light mt-2">
      <div class="card-body">
        <h5 class="mb-3"><%= t('event.event_map') %></h5>
        <div id="map"
            data-address="<%= @event.address %>"
            class="yandex-map">
        </div>
      </div>
    </div>
  </div>
</div>
