<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <%= link_to "BBQ", root_path, class: "navbar-brand"%>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <% if user_signed_in? %>
        <li class="nav-item"><%= link_to t('event.new_event'), new_event_path, class: "nav-link" %></li>
        <li class="nav-item"><%= link_to t('user.profile'), current_user, class: "nav-link" %></li>
        <li class="nav-item"><%= link_to t('devise.links.sign_out'), destroy_user_session_path, class: "nav-link",
                method: :delete %></li>
      <% else %>
        <li class="nav-item"><%= link_to t('devise.links.sign_in'), new_user_session_path, class: "nav-link" %></li>
        <li class="nav-item"><%= link_to t('devise.links.sign_up'),
                new_user_registration_path, class: "nav-link" %></li>
      <% end %>
    </ul>
  </div>
</nav>
