<!DOCTYPE html>
<html>
  <head>
    <title>Bbq</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= render "layouts/header" %>
    </header>
    <div class="container">  
      <div class="row mt-4">
        <div class="col-md-8 mb-4">
          <% if flash.any? %>
            <div id="error_explanation" class="alert alert-info alert-dismissible fade show" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <% flash.each do |name, message| %>
                <%= content_tag :div, message %>
              <% end %>
            </div>
          <% end %>
          
          <%= yield %>
        </div>
        <div class="col-md-4 mb-4">

        </div>
      </div>
    </div>
    <footer>
      <%= render "layouts/footer" %>
    </footer>
  </body>
</html>
